{% extends 'main/_base.html' %}
{% load static %}
{% block title %}Des Idées Fil - Profil{% endblock title %}

{% block content %}
<h2 class="profilTitle">Profil de {{ user.username }}</h2>
{% if user.is_authenticated %}
{% comment %} <p>Welcome, {{ user.username }}. Thanks for logging in.</p> {% endcomment %}

<section class="compte">
    <div class="informationsCompte">
        <h4>Votre nom d'utilisateur : {{ user.username }}</h4>
        <h4>Votre email : {{ user.email }}</h4>
        <h4>
            Votre prénom :
            {% if user.first_name == "" %}
            Information manquante
            {% else %}
            {{ user.first_name }}
            {% endif %}
        </h4>
        <h4>
            Votre nom :
            {% if user.last_name == "" %}
            Information manquante
            {% else %}
            {{ user.last_name }}
            {% endif %}
        </h4>
        <div class="livraisonInfos">
            <h3>Adresse de livraison</h3>
            <h4>Rue</h4>
            <p>
                {% if addressDelivery.address == "" %}
                Information manquante
                {% else %}
                {{ addressDelivery.address }}
                {% endif %}
            </p>
            <h4>Code postal</h4>
            <p>
                {% if addressDelivery.code == "" %}
                Information manquante
                {% else %}
                {{ addressDelivery.code }}
                {% endif %}
            </p>
            <h4>Ville</h4>
            <p>
                {% if addressDelivery.city == "" %}
                Information manquante
                {% else %}
                {{ addressDelivery.city }}
                {% endif %}
            </p>
        </div>
        <div class="facturationInfos">
            <h3>Adresse de facturation</h3>
            <h4>Rue</h4>
            <p>
                {% if addressBilling.address == "" %}
                Information manquante
                {% else %}
                {{ addressBilling.address }}
                {% endif %}
            </p>
            <h4>Code postal</h4>
            <p>
                {% if addressBilling.code == "" %}
                Information manquante
                {% else %}
                {{ addressBilling.code }}
                {% endif %}
            </p>
            <h4>Ville</h4>
            <p>
                {% if addressBilling.city == "" %}
                Information manquante
                {% else %}
                {{ addressBilling.city }}
                {% endif %}
            </p>
        </div>
    </div>
    <div class="modificationCompte">
        <ul>
            <li>
                <p>
                    Modification informations utilisateur
                    <a href="{% url 'user' %}">Modifier</a>
                </p>
            </li>
            <li>
                <p>
                    Modification adresses
                    <a href="{% url 'deliveryAddress' %}">Adresse de livraison</a>
                    <a href="{% url 'billingAddress' %}">Adresse de facturation</a>
                </p>
            </li>
            <li>
                <p>
                    Supprimer mon compte
                    <a href="{% url 'delete' %}">Supprimer</a>
                </p>
            </li>
        </ul>
    </div>
</section>
<section>
    <h2>Historique d'achats</h2>
    {% for order in orders  %}
    <p>{{ order.productId.name }}</p>
    {% endfor %}
</section>
{% else %}
<p>Welcome, new user. Please log in.</p>
{% endif %}
{% endblock content %}