{% extends 'main/_base.html' %}
{% load static %}
{% block title %}Des Idées Fil - Supprimer article{% endblock title %}

{% block content %}

<h2 class="articleTitle">Supprimer Article</h2>
<div class="totalPrice deleteArticle">
    <h3>Voulez-vous supprimer {{orderLine.productId.name}} du panier ?</h3>
    <form action="" method="post">
        {% csrf_token %}
        <input type="submit" value="Supprimer">
    </form>
    <a href="{% url 'shop:cart' %}">Annuler</a>
</div>
{% endblock content %}