{% extends 'main/_base.html' %}
{% load static %}
{% block title %}Des Idées Fil - Tarifs{% endblock title %}

{% block content %}
<section class="contentPrices">
    <h2 class="pricesTitle">Grille des tarifs Des Idées Fil</h2>

    <ul class="prices">
        <li>
            <h3>Retouches Jupe - Robe (fournitures non comprises)</h3>
            <h3>Tarifs</h3>
        </li>
        <li>
            <p>Jupe et Robe droite non doublée</p>
            <p>9,00€</p>
        </li>
        <li>
            <p>Jupe et Robe droite doublée</p>
            <p>12,00€</p>
        </li>
        <li>
            <p>Jupe et Robe ample</p>
            <p>11,00€</p>
        </li>
        <li>
            <p>Jupe et Robe droite ample doublée</p>
            <p>14,00€</p>
        </li>
    </ul>
    <br>
    <br>
    <ul class="prices">
        <li>
            <p>Ourlet machine jupe droite</p>
            <p>6,50€</p>
        </li>
        <li>
            <p>Ourlet main jupe droite</p>
            <p>9,50€</p>
        </li>
        <li>
            <p>Ourlet machine jupe droite avec doublure</p>
            <p>10,00€</p>
        </li>
        <li>
            <p>Ourlet mains jupe droite avec doublure</p>
            <p>12,00€</p>
        </li>
    </ul>
    <br>
    <br>
    <ul class="prices">
        <li>
            <h3>Retouches Pantalon (fournitures non comprises)</h3>
            <h3>Tarifs</h3>
        </li>
        <li>
            <p>Ourlet piqure simple</p>
            <p>6,50€</p>
        </li>
        <li>
            <p>Ourlet mains</p>
            <p>8,50€</p>
        </li>
        <li>
            <p>Changement fermeture glissière</p>
            <p>9,50€</p>
        </li>
        <li>
            <p>Rapiéçage</p>
            <p>7,50€</p>
        </li>
    </ul>
</section>
{% endblock content %}